#env:
#  DOCKER_COMPOSE_VERSION: 1.8.0
arch:
#  - amd64
  - arm64
before_install:
  - sudo apt-get update
    #  - sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker-ce
  - sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker docker-compose
  - docker-compose --version
    #  - sudo rm /usr/local/bin/docker-compose
    #- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
    #- chmod +x docker-compose
    #- sudo mv docker-compose /usr/local/bin
    #- docker-compose --version
before_script:

# Need to remove any ARM images, tests are performed on Ubuntu x86/64


script:
  - docker-compose -f stacks/webpage-compose.yml up -d --build;
  #- docker-compose -f stacks/compose/backup.compose.yml up -d --build;
  #- docker-compose -f stacks/openvpn/vpn.compose.yml up -d;
  #- docker-compose -f stacks/lancache/lancache.compose.yml up -d;
  #- docker-compose -f stacks/sonarr/sonarr.compose.yml up -d;
  #- docker-compose -f stacks/monitoring/example.compose.yml up -d;
  #- docker-compose -f stacks/calibre/calibre.compose.yml up -d;
  #- docker-compose -f stacks/lidarr/lidarr.compose.yml up -d;
  #- docker-compose -f stacks/plex/plex.compose.yml up -d;
  #- docker-compose -f stacks/transmission/transmission.compose.yml up -d;
  #- docker-compose -f stacks/urbackup/urbackup.compose.yml up -d;
  #- docker-compose -f stacks/mediawiki/mediawiki.compose.yml up -d;
  #- docker-compose -f stacks/nodejs/nodejs.compose.yml up -d;
  #- docker-compose -f stacks/compose/rpi4.compose.yml up -d;
  #- docker-compose -f stacks/compose/rssmedia.compose.yml up -d;
  #- docker-compose -f stacks/compose/webpage.compose.yml up -d;
  #- docker-compose -f stacks/compose/backup.compose.yml up -d;
  #- docker-compose -f stacks/compose/io.compose.yml up -d;
  #- docker-compose -f stacks/compose/blackhole.compose.yml up -d;
  #- docker-compose -f stacks/compose/newlab.compose.yml up -d;
  #- docker-compose -f stacks/compose/mercury.compose.yml up -d;			
  #- docker-compose -f stacks/radarr/radarr.compose.yml up -d;
  #- docker-compose -f stacks/deluge/deluge.compose.yml up -d;
  #- docker-compose -f stacks/photoshow/photoshow.compose.yml up -d;
  #- docker-compose -f stacks/hass/hass.compose.yml up -d;
  #- docker-compose -f stacks/pihole/pihole.compose.yml up -d;
  #- docker-compose -f stacks/docker-pxe/.travis.yml up -d;
  #- docker-compose -f stacks/phpbb/phpbb.compose.yml up -d;
  #- docker-compose -f stacks/akaunting/example.compose.yml up -d;
  #- docker-compose -f stacks/ombi/ombi.compose.yml up -d;
  #- docker-compose -f stacks/mosquitto/mosquitto.compose.yml up -d;
  #- docker-compose -f stacks/teamspeak/example.compose.yml up -d;
  #- docker-compose -f stacks/flexget/flexget.compose.yml up -d; 
  #- docker-compose -f stacks/cloud9/cloud9.compose.yml up -d;
  #- docker-compose -f stacks/nodered/nodered.compose.yml up -d;
  #- docker-compose -f stacks/nextcloud/lsio.compose.yml up -d;		
  #- docker-compose -f stacks/gitlab/gitlab.compose.yml up -d;
  #- docker-compose -f stacks/bazarr/bazarr.compose.yml up -d;

  - docker ps -a

after_script:
  - docker-compose -f stacks/webpage-compose.yml down;
  #- docker-compose -f stacks/openvpn/vpn.compose.yml down;
  #- docker-compose -f stacks/lancache/lancache.compose.yml down;
  #- docker-compose -f stacks/sonarr/sonarr.compose.yml down;
  #- docker-compose -f stacks/monitoring/example.compose.yml down;
  #- docker-compose -f stacks/calibre/calibre.compose.yml down;
  #- docker-compose -f stacks/lidarr/lidarr.compose.yml down;
  #- docker-compose -f stacks/plex/plex.compose.yml down;
  #- docker-compose -f stacks/transmission/transmission.compose.yml down;
  #- docker-compose -f stacks/urbackup/urbackup.compose.yml down;
  #- docker-compose -f stacks/mediawiki/mediawiki.compose.yml down;
  #- docker-compose -f stacks/nodejs/nodejs.compose.yml down;
  #- docker-compose -f stacks/compose/rpi4.compose.yml down;
  #- docker-compose -f stacks/compose/rssmedia.compose.yml down;
  #- docker-compose -f stacks/compose/webpage.compose.yml down;
  #- docker-compose -f stacks/compose/backup.compose.yml down;
  #- docker-compose -f stacks/compose/io.compose.yml down;
  #- docker-compose -f stacks/compose/blackhole.compose.yml down;
  #- docker-compose -f stacks/compose/newlab.compose.yml down;
  #- docker-compose -f stacks/compose/mercury.compose.yml down;
  #- docker-compose -f stacks/radarr/radarr.compose.yml down;
  #- docker-compose -f stacks/deluge/deluge.compose.yml down;
  #- docker-compose -f stacks/photoshow/photoshow.compose.yml down;
  #- docker-compose -f stacks/hass/hass.compose.yml down;
  #- docker-compose -f stacks/pihole/pihole.compose.yml down;
  #- docker-compose -f stacks/docker-pxe/.travis.yml down;
  #- docker-compose -f stacks/phpbb/phpbb.compose.yml down;
  #- docker-compose -f stacks/akaunting/example.compose.yml down;
  #- docker-compose -f stacks/ombi/ombi.compose.yml down;
  #- docker-compose -f stacks/mosquitto/mosquitto.compose.yml down;
  #- docker-compose -f stacks/teamspeak/example.compose.yml down;
  #- docker-compose -f stacks/flexget/flexget.compose.yml down;
  #- docker-compose -f stacks/cloud9/cloud9.compose.yml down;
  #- docker-compose -f stacks/nodered/nodered.compose.yml down;
  #- docker-compose -f stacks/nextcloud/lsio.compose.yml down;
  #- docker-compose -f stacks/gitlab/gitlab.compose.yml down;
  #- docker-compose -f stacks/bazarr/bazarr.compose.yml down;

  - docker ps -a

  # You may want to update this to whatever the latest version is, or keep it
  # the same as your local machines. However, I have only tested it with 1.8.0+.
  # There should be a time in the future when this is not necessary - it is
  # explained in more detail below.

  # update is required to update the repositories to see the new packages for
  # Docker.

# Now we can install the newer docker-engine which is required for the newer
  # docker-composer we will install next. The messy options are to force it to
  # be non-interactive (normally it asks you a bunch of config questions).
  #- sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker-engine

# Print out the current docker-compose version. Once this reports 1.6+ then we
  # do not need the following steps.

# As of the writing of this script Travis has docker-compose v1.4.2, we need
  # to update it to 1.8+. $DOCKER_COMPOSE_VERSION is provide from the `env`
  # above.

# Check that docker-compose is now running the latest version (or at least the
  # one we specified). This is not to be confused with the version we printed
  # before doing the update.

# Setup your application stack. You may need to tweak these commands if you
  # doing out-of-the-ordinary docker-compose builds.
  #- docker-compose pull
  #- docker-compose build
  #- docker-compose start
# You will want this for logging. If one of your containers does not build for
  # whatever reason it's best to report that now before your tests start
  # otherwise it can be really tricky to debug why tests are failing sometimes.
  #- docker ps
