/*
	Custom CSS for my personal Dev Lab Webpage
	Author: Eric Weissgerber
*/

.btn-primary
{
	background-color: #000000;
	border-color: #0000FF;
	color: #0000FF;
}

.btn-primary:hover
{
	background-color: #001133;
}

.btn-primary:focus
{
	background-color: #001144;
	font-weight: bold;
}

.btn-primary h2 {
	font-weight: 600;
}

#submit.btn-primary {
	width: 15%;
	margin: 0 auto;
}

 .btn-secondary
 {
 	background-color: #222222;
 }

input.form-control
{
	width: 15%;
	margin: 0 auto;
}

form.form-signin#regform {
	padding-top: 3%;
	padding-bottom: 3%;
	height: 75%;
	/* display: table-cell; */
	/* width: 20%; */
	margin: 0 auto;
	vertical-align: middle;
}
