/* 
	Custom CSS for my personal Dev Lab Webpage 
	Author: Eric Weissgerber
*/

.btn-primary {
	background-color: #000000;
	border-color: #0000FF;
	color: #0000FF;

}

.btn-primary:hover {
	background-color: #001133;
}

.btn-primary:focus {
	background-color: #001144;
	font-weight: bold;
}

.btn-primary h2 {
	font-weight: 600;
}
/*
.btn-block {
	background-color: #00FF00;

}

 .btn-lg {
 	background-color: #000000;
 	font-size: 8px;
 	color: #FF0000;
 }
*/
.btn-sm h3 {
	font-size: 16px;
}

 .btn-secondary {
 	background-color: #222222;
 }

